# Data Science and Ecosystems

## In this notebook, Data Science Tools and Ecosystems are summarized

# Objectives:

## -Jupyter Notebook

## -Data Science Languages

## -Data Science Libraries

## -Data Science Tools

## -Basic Arithmetic with Integers

## Some popular languages that Data Scientist use are:

### 1. Python
### 2. R
### 3. SQL

## Some commonly used libraries used by Data Scientist are:

### 1. NumPy

### 2. Pandas

### 3 Matplotlib

   ## DATA SCIENCE TOOLS
  ----------------------
  ### pandas
  ### Tableau
  ### Jupyter Notebooks
  ### R Studio

## Below are a few examples of evaluating arithmetic expression

### This is a simple arithmetic expression to multiply and then add integers

In [4]:
(3*4)+5

17

### This will convert 200 minutes to hours by diving by 60

In [6]:
 200/60

3.3333333333333335

## Author

Jennifer Franklin